Source: calligra
Section: kde
# single application should be placed in more proper sections.
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>
Build-Depends: cdbs, debhelper (>= 7.0.50~), cmake (>= 2.6.2), pkg-kde-tools (>= 0.9),
  kdelibs5-dev (>= 4:4.4.0), kdepimlibs5-dev (>= 4:4.4.3),
  libkdcraw-dev (>= 4:4.4.3), okular-dev (>= 4:4.4.3),
  libqt4-dev, libqt4-opengl-dev, libqtwebkit-dev,
  shared-mime-info, zlib1g-dev, libpng12-dev, libboost-dev,
# optional b-d
  libtiff4-dev, libjpeg-dev, libopenjpeg-dev, libgif-dev,
  libglew-dev, libopenexr-dev,
  libeigen2-dev (>= 2.0~beta6), libwpd-dev (>=0.9.1), libwpg-dev (>=0.2.0),
  pstoedit, libexiv2-dev, libxslt1-dev, libqca2-dev, libfftw3-dev,
  libgsl0-dev, libpoppler-dev, libpoppler-qt4-dev,
  libsqlite3-dev, libmysqlclient-dev, libpq-dev, libpqxx3-dev,
  libxbase2.0-dev, freetds-dev,
  liblcms2-dev,
# no in koffice
  libgsf-1-dev, libdcmtk2-dev, libspnav-dev, libctl-dev,
Standards-Version: 3.9.1
Homepage: http://www.calligra-suite.org/
Vcs-Git: git://git.debian.org/pkg-kde/kde-std/calligra.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-std/calligra.git

Package: calligra
Architecture: all
Section: kde
Replaces: koffice
Conflicts: koffice
Depends: karbon (>= ${source:Version}), flow (>= ${source:Version}), plan (>= ${source:Version}),
 stage (>= ${source:Version}), krita (>= ${source:Version}), tables (>= ${source:Version}),
 words (>= ${source:Version}), kthesaurus (>= ${source:Version}),
 kexi (>= ${source:Version}), kformula (>= ${source:Version})
Suggests: calligra-doc-html (>= ${source:Version})
Homepage: http://www.calligra-suite.org
Description: Calligra Office Suite
 Calligra is an integrated office suite for KDE.  It offers a word
 processor, spreadsheet, presentation program, graphics tools, and more.
 .
 This package provides all the components of Calligra.

Package: calligra-doc-html
Architecture: all
Section: doc
Replaces: koffice-doc-html
Conflicts: koffice-doc-html
Suggests: konqueror | www-browser, calligra
Description: Calligra Office Suite documentation in HTML format
 Calligra is an integrated office suite for KDE, the K Desktop
 Environment.  It offers a word processor, spreadsheet, presentation
 program, graphics tools and more.
 .
 By default the Calligra applications only provide their documentation in
 KDE DocBook format, which can only be read by Konqueror or KHelpCenter.
 This package provides all of the Calligra documentation converted to HTML
 format so it can be read with any web browser.
 .
 The documentation will be installed into the usual directories
 /usr/share/doc/kde/HTML/<language>/<app>/, for instance
 /usr/share/doc/kde/HTML/en/words/.
 .
 This package is part of the Calligra Office Suite.

Package: karbon
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
Homepage: http://www.calligra-suite.org/karbon/
Description: vector graphics application for the Calligra Office Suite
 Karbon is a vector drawing application with an user interface that is easy to
 use, highly customizable and extensible. That makes Karbon a great application
 for users starting to explore the world of vector graphics as well as for
 artists wanting to create breathtaking vector art. Features include:
  .
  * Loading support for ODG, SVG, WPG, WMF, EPS/PS
  * Writing support for ODG, SVG, PNG, PDF, WMF
  * Customizable user interface with freely placable toolbars and dockers
  * Layer docker for easy handling of complex documents including preview
    thumbnails, support for grouping shapes via drag and drop,
    controlling visibility of shapes or locking
  * Advanced path editing tool with great on-canvas editing capabilies
  * Various drawing tools for creating path shapes including a draw path
    tool, a pencil tool as well as a calligraphy drawing tool
  * Gradient and pattern tools for easy on-canvas editing of gradient and
    pattern styles
  * Top notch snapping facilities for guided drawing and editing (e.g.
    snapping to grid, guide lines, path nodes, bounding boxes, orthogonal
    positions, intersections of path shapes or extensions of lines and
    paths)
  * Includes many predefined shapes including basic shapes like stars,
    circle/ellipse, rectangle, image
  * Artistic text shape with support for following path outlines
    (i.e. text on path)
  * Complex path operations and effects like boolean set operations,
    path flattening, rounding and refining as well as whirl/pinch effects
  * Extensible by writing plugins for new tools, shapes and dockers
 .
 This package is part of the Calligra Office Suite.

Package: kexi
Architecture: any
Section: database
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
#Suggests: kexi-mdb-plugin
Homepage: http://www.calligra-suite.org/kexi/
Description: integrated database environment for the Calligra Office Suite
 Kexi is an integrated data management application. It can be used for
 creating database schemas, inserting data, performing queries, and
 processing data. Forms can be created to provide a custom interface to
 your data. All database objects - tables, queries and forms - are stored
 in the database, making it easy to share data and design.
 .
 Kexi is considered as a long awaited Open Source competitor for MS Access,
 Filemaker and Oracle Forms. Its development is motivated by the lack of
 Rapid Application Development (RAD) tools for database systems that are
 sufficiently powerful, inexpensive, open standards driven and portable
 across many operating systems and hardware platforms.
 .
 This package is part of the Calligra Office Suite.

#Package: kexi-plugin-tables
#Architecture: any
#Depends: ${shlibs:Depends}, kexi (>= ${source:Version}),
# tables (>= ${source:Version})
#Description: Tables plugin for kexi
# Kexi is an integrated data management application. It can be used for
# creating database schemas, inserting data, performing queries, and
# processing data. Forms can be created to provide a custom interface to
# your data. All database objects - tables, queries and forms - are stored
# in the database, making it easy to share data and design.
# .
# This package is part of the Calligra Office Suite and provides Tables
# plugin for Kexi.

Package: kexi-plugin-mysql
Architecture: any
Section: database
Depends: ${shlibs:Depends}, kexi (>= ${source:Version})
Breaks: kexi (<< 1:2.3.70)
Replaces: kexi (<< 1:2.3.70)
Description: MySQL support for kexi
 Kexi is an integrated data management application. It can be used for
 creating database schemas, inserting data, performing queries, and
 processing data. Forms can be created to provide a custom interface to
 your data. All database objects - tables, queries and forms - are stored
 in the database, making it easy to share data and design.
 .
 This package is part of the Calligra Office Suite and provides MySQL
 support for Kexi.

Package: kexi-plugin-postgresql
Architecture: any
Section: database
Depends: ${shlibs:Depends}, kexi (>= ${source:Version})
Breaks: kexi (<< 1:2.3.70)
Replaces: kexi (<< 1:2.3.70)
Description: PostgreSQL support for kexi
 Kexi is an integrated data management application. It can be used for
 creating database schemas, inserting data, performing queries, and
 processing data. Forms can be created to provide a custom interface to
 your data. All database objects - tables, queries and forms - are stored
 in the database, making it easy to share data and design.
 .
 This package is part of the Calligra Office Suite and provides PostgreSQL 
 support for Kexi.

Package: kexi-plugin-xbase
Architecture: any
Section: database
Depends: ${shlibs:Depends}, kexi (>= ${source:Version})
Breaks: kexi (<< 1:2.3.70)
Replaces: kexi (<< 1:2.3.70)
Description: XBase support for kexi
 Kexi is an integrated data management application. It can be used for
 creating database schemas, inserting data, performing queries, and
 processing data. Forms can be created to provide a custom interface to
 your data. All database objects - tables, queries and forms - are stored
 in the database, making it easy to share data and design.
 .
 This package is part of the Calligra Office Suite and provides XBase 
 support for Kexi.

Package: kexi-plugin-sybase
Architecture: any
Section: database
Depends: ${shlibs:Depends}, kexi (>= ${source:Version})
Breaks: kexi (<< 1:2.3.70)
Replaces: kexi (<< 1:2.3.70)
Description: Sybase support for kexi
 Kexi is an integrated data management application. It can be used for
 creating database schemas, inserting data, performing queries, and
 processing data. Forms can be created to provide a custom interface to
 your data. All database objects - tables, queries and forms - are stored
 in the database, making it easy to share data and design.
 .
 This package is part of the Calligra Office Suite and provides Sybase
 support for Kexi.

Package: krita
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, krita-data (>= ${source:Version}), calligra-libs (>= ${source:Version})
Suggests: khelpcenter4, calligra-doc-html
Homepage: http://www.calligra-suite.org/krita/
Description: pixel-based image manipulation program for the Calligra Office Suite
 Krita is a creative application for raster images. Whether you want to create
 from scratch or work with existing images, Krita is for you. You can work with
 photos, scanned images or start with a blank slate. Krita supports most
 graphics tablets out of the box.
 .
 Krita is different from other graphics design programs in that it has
 pluggable brush engines, some supporting brush resources like Gimp brush files,
 others offering sophisticated simulation of real brushes, and again others
 offering deformation of images and color mixing. Moreover, Krita has full
 support for graphics tablets, including features as pressure, tilt and rate,
 making it a great choice for artists. There are easy to use tools for drawing
 lines, ellipses and rectangles, and the freehand tool is supported by pluggable
 “drawing assistants” that help you draw shapes that still have a freehand
 feeling to them.
 .
 This package is part of the Calligra Office Suite.

Package: krita-data
Architecture: all
Section: graphics
Homepage: http://www.calligra-suite.org/krita/
Description: data files for Krita painting program
 This package contains architecture-independent data files for Krita,
 the painting program shipped with the Calligra Office Suite.
 .
 See the krita package for further information.
 .
 This package is part of the Calligra Office Suite.

Package: krita-dev
Architecture: all
Section: devel
Depends: ${shlibs:Depends}, krita (>= ${source:Version}), calligra-libs (>= ${source:Version})
Description: developpment files for Krita painting programm
 This package contains header files that can be used by plugins developers to
 extend Krita.
 '
 This package is part of the Calligra Office Suite.

Package: kthesaurus
Architecture: any
Section: text
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
Suggests: khelpcenter4, calligra-doc-html
Description: thesaurus for the Calligra Office Suite
 KThesaurus lists words related to a given term and offers a user interface
 to WordNet, a powerful lexical reference system. By default, only the English
 language is supported.
 .
 This package is part of the Calligra Office Suite.

Package: tables
Architecture: any
Section: kde
Replaces: kspread
Conflicts: kspread
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
Suggests: khelpcenter4, calligra-doc-html
Homepage: http://www.calligra-suite.org/tables/
Description: spreadsheet for the Calligra Office Suite
 Tables is a powerful spreadsheet application.  It is scriptable and
 provides both table-oriented sheets and support for complex mathematical
 formulae and statistics. It is the sucessor of KSpread.
 .
 This package is part of the Calligra Office Suite.

Package: plan
Architecture: any
Section: kde
Replaces: kplato
Conflicts: kplato
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
Suggests: khelpcenter4, calligra-doc-html
Homepage: http://www.calligra-suite.org/plan/
Description: integrated project management and planning tool
 Plan is a project management application, allowing for the planning and
 scheduling of projects. It is the successor of KPlato.
 . 
 This package is part of the Calligra Office Suite.

Package: words
Architecture: any
Section: text
Replaces: kword
Conflicts: kword
Depends: ${shlibs:Depends}, words-data (>= ${source:Version})
Suggests: khelpcenter4, calligra-doc-html
Homepage: http://www.calligra-suite.org/words/
Description: word processor for the Calligra Office Suite
 Words is a FrameMaker-like word processing and desktop publishing
 application.  It is capable of creating demanding and professional
 looking documents.  It can be used for desktop publishing, but also for
 "normal" word processing, like writing letters, reports and so on. Words is the successor of KWord.
 .
 This package is part of the Calligra Office Suite.

Package: words-data
Architecture: all
Section: text
Replaces: kword-data
Conflicts: kword-data
Homepage: http://www.calligra-suite.org/words/
Description: data files for Words word processor
 This package contains architecture-independent data files for Words,
 the word processor shipped with the Calligra Office Suite.
 .
 See the words package for further information.
 .
 This package is part of the Calligra Office Suite.


Package: stage
Architecture: any
Section: kde
Replaces: kpresenter
Conflicts: kpresenter
Depends: ${shlibs:Depends}, ${perl:Depends}, calligra-libs (>= ${source:Version})
Suggests: khelpcenter4, calligra-doc-html
Homepage: http://www.calligra-suite.org/stage/
Description: presentation program for the Calligra Office Suite
 Stage is an easy to use yet still flexible presentation application. It is the 
 successor of Kspread You can easily create presentations containing a rich variety
 of elements, from
 graphics to text, from charts to images. Stage is extensible through a
 plugin system, so it is easy to add new effects, new content elements or even
 new ways of managing your presentation.
 Stage natively uses the OpenDocument file format standard, for easy
 interchange with all ODF supporting applications which includes Microsoft
 Office. Some examples of easy-to-use features are support for layouts, a
 special slide overview view during presentations for the presenter, support
 for many different master sliders in one presentation, cool transitions and
 a useful notes feature.
 .
 This package is part of the Calligra Office Suite.

Package: flow
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
Homepage: http://www.calligra-suite.org/flow/
Description: flowcharting program for the Calligra Office Suite
 Flow is a flowcharting program that offers basic flowcharting abilities,
 but with a twist.  Objects are scriptable, and a backend plugin system
 offers the ability to make objects do just about anything. Flow is the 
 successor of Kivio.
 .
 This package is part of the Calligra Office Suite.

Package: braindump
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
Homepage: http://www.calligra-suite.org/braindump/
Description: braindump component for the Calligra Office Suite
 BrainDump is a tool to help to organize the ideas from your brain to your 
 computer.
 .
 This package is part of the Calligra Office Suite.


Package: kformula
Architecture: any
Section: math
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version})
#Suggests: khelpcenter4, koffice-doc-html
Description: formula drawing component for the Calligra Office Suite
 KFormula contains the formula drawing components.  It can be used to embed
 formulas into Calligra documents.
 .
 Features include easy Greek letter insertion, intelligent cursor
 movement, advanced syntax highlighting, multi-level undo support,
 LaTeX export and MathML import.
 .
 This package is part of the Calligra Office Suite.

Package: calligramobile
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, calligra-libs(>= ${source:Version})
Description: version of Calligra for mobile
 Calligra Mobile aims to create a version of the Calligra Office Suite for
 mobile devices, such as Maemo or MeeGo.
 .
 This package is part of the Calligra Office Suite.


Package: calligra-libs
Section: libs
Architecture: any
Replaces: koffice-libs
Conflicts: koffice-libs
Depends: ${shlibs:Depends}, calligra-data (>= ${source:Version})
Recommends: ttf-lyx, ruby, python
Suggests: wordnet, texlive
Description: common libraries and binaries for the Calligra Office Suite
 This package provides the libraries and binaries that are shared amongst
 the various components of Calligra.
 .
 This package is part of the Calligra Office Suite.


Package: calligra-data
Section: libs
Architecture: all
Replaces: koffice-data
Conflicts: koffice-data
Suggests: khelpcenter4, calligra-doc-html
Description: common shared data for the Calligra Office Suite
 This package provides the architecture-independent data that is shared
 amongst the various components of Calligra.
 .
 This package is part of the Calligra Office Suite.

Package: okular-backend-odp
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, calligra-libs (>= ${source:Version}), libokularcore1
Recommends: okular
Description: okular backend for ODP files.
 This plugin allow Okular to view Opendocument Presentation (ODP)
 document format.
 .  
 This package is part of the Calligra Office Suite.

Package: calligra-dev
Architecture: any
Section: devel
Replaces: koffice-dev
Conflicts: koffice-dev
Depends: calligra-libs (>= ${source:Version}), karbon (>= ${source:Version}), plan (>= ${source:Version}), stage (>= ${source:Version}), krita (>= ${source:Version}), tables (>= ${source:Version}), kthesaurus (>= ${source:Version}), words (>= ${source:Version}), kdelibs5-dev 
Description: common libraries for Calligra (development files)
 This package provides the development files for the libraries that are
 shared amongst the various components of Calligra.
 .
 This package is part of the Calligra Office Suite.

Package: calligra-dbg
Section: debug
Architecture: any
Priority: extra
Replaces: koffice-dbg
Conflicts: koffice-dbg
Depends: calligra-libs (= ${binary:Version}), kdebase-runtime-dbg
Description: debugging symbols for Calligra
 This package contains the debugging symbols associated with Calligra.
 They will automatically be used by gdb for debugging calligra-related
 issues.
 .
 This package is part of the Calligra Office Suite.

